<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Dear User,</h4>
    <p>
      <% if @order.rejected? %>
        <strong>Reason for rejection:</strong><br/>
        <%= @order.reason_for_rejection -%><br/><br/>
      <% end %>
      To track your Order please quote the following Order ID:<%= @order.id -%> for future communication.
      <br/><br/>
      Below is your order summary:<br/>
      <% @order.order_items.each do |li| %>
        <%= "#{li.product.name} - #{li.unit_price}, Quantity: #{li.quantity}"%>
        <br/>
      <% end -%>
      <br/>
      Total Products Ordered: <%= @order.order_items.sum(&:quantity) -%>
      <br/><br/>
    </p>
    <p>Thanks and have a great day!</p>
  </body>
</html>